@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@theme {
  --color-uni-yellow: #FAD02C;
  --color-uni-black: #202121;
  --color-uni-white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* height of nav h-20 */
}
